<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add home to airbnb</title>
    <link rel="stylesheet" href="addHome.css">
</head>
<body>
    <header>
        <h1>Register your home here :</h1>
    </header>
    <main>
      <form action="/host/add-home" method="post">
      <input type="text" name="houseName" placeholder="Enter the name of your home" required><br><br>
      <button type="submit">Submit</button>
      </form>
    </main>
</body>
</html>